.display-note {
  display: flex;
  flex-direction: column;
}

.display-note > p {
  margin: 0;
}

.empty-paragraph {
  min-height: 1rem;
  color: transparent;
  user-select: none;
}

.read-more-link {
  margin-top: 1rem;
}
